h2 {
  color: #2c3e50;
}
.star::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 50%;
  width: 80px;
  height: 4px;
  background-color: #2c3e50;
}
.star::before {
  content: "";
  position: absolute;
  right: 32px;
  top: 50%;
  width: 80px;
  height: 4px;
  background-color: #2c3e50;
}
.overlay {
  inset: 0;
  background-color: #1abc9ce6;
  opacity: 0;
  transition: all 0.6s;
}
.overlay i {
  color: #fff;
  font-size: 96px;
}
.item:hover .overlay {
  opacity: 1;
}
